<body>
<large>
<br><b>Padstack:</b> D85_20<body>
<large>
<br><b>Software Version:</b>
17.4<body>
<large>
<br><b>Date/Time</b>: 2021/11/17 14:01:57<br>
<hr style=border-top: dashed 2px; />
<blockquote>
<br><table border=1>
<tr>
<th>Severity</th>
<th>Message</th>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Origin is outside or on pad edge for layer TOP, REGULAR-PAD</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Origin is outside or on pad edge for layer SOLDERMASK_TOP.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Origin is outside or on pad edge for layer PASTEMASK_TOP.</td>
</tr>
</table></br>
</blockquote>
